ExpiresActive On
ExpiresDefault "access plus 1 year"

DirectoryIndex index.html.br index.html

RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule (.*) https://%1%{REQUEST_URI} [R=307,L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=307,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP:Accept-encoding} br
RewriteCond %{REQUEST_FILENAME}\.br -s
RewriteRule ^(.*) $1\.br [QSA]

RewriteRule \.css\.br$ - [T=text/css,E=no-gzip,E=no-brotli]
RewriteRule \.html\.br$ - [T=text/html,E=no-gzip,E=no-brotli]
RewriteRule \.js\.br$ - [T=text/javascript,E=no-gzip,E=no-brotli]

<FilesMatch "(\.br)$">
	Header set Content-Encoding br
	Header append Vary Accept-Encoding
</FilesMatch>